on:
  push:
    branches:
      - main
jobs:
  bump-version:
    name: Increment version number
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: cfa-docker-customer.jfrog.io
    outputs:
      version: ${{ steps.version_bump.outputs.version }}
    permissions:
      contents: write
    steps:
      - name: Checkout latest
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Version bump
        id: version_bump
        run: |
          if previous_version=$(git describe --tags --abbrev=0 --match="audience/*"); then
            version=$(./version.sh "$previous_version" "${{ github.event.head_commit.message }}")
          else
            version="audience/0.0.1"
          fi
          git tag "$version"
          git push origin "$version"
          echo "version=$version" >> "$GITHUB_OUTPUT"

  # dev-gate:
  #   name: Approval gate for the dev environment
  #   runs-on: ubuntu-latest
  #   needs: bump-version
  #   environment: approval-gate
  #   steps:
  #     - run: echo "Approved for prod"

  deploy-dev:
    needs: [bump-version]
    name: audience-dev
    uses: ./.github/workflows/deploy.yaml
    permissions:
      actions: write
      deployments: write
    with:
      environment: dev
      service: audience
      image_tag: ${{ needs.bump-version.outputs.version }}
    secrets: inherit

  test-gate:
    name: "Approval gate | audience test"
    runs-on: ubuntu-latest
    needs: [bump-version, deploy-dev]
    environment: approval-gate
    steps:
      - run: echo "Approved for test"

  deploy-test:
    needs: [bump-version, test-gate]
    name: audience-test
    uses: ./.github/workflows/deploy.yaml
    permissions:
      actions: write
      deployments: write
    with:
      environment: test
      service: audience
      image_tag: ${{ needs.bump-version.outputs.version }}
    secrets: inherit

  prod-gate:
    name: "Approval gate | audience prod"
    runs-on: ubuntu-latest
    needs: [bump-version, deploy-test]
    environment: approval-gate
    steps:
      - run: echo "Approved for prod"

  deploy-prod:
    needs: [bump-version, prod-gate]
    name: audience-prod
    uses: ./.github/workflows/deploy.yaml
    permissions:
      actions: write
      deployments: write
    with:
      environment: prod
      service: audience
      image_tag: ${{ needs.bump-version.outputs.version }}
    secrets: inherit
