on:
  push:
    branches:
      - main
jobs:
  deploy-dev:
    name: audience-dev
    uses: ./.github/workflows/deploy.yaml
    permissions:
      actions: write
    with:
      environment: dev
      service: audience
    secrets: inherit

  deploy-test:
    needs: deploy-dev
    name: audience-test
    uses: ./.github/workflows/deploy.yaml
    permissions:
      actions: write
    with:
      environment: test
      service: audience
    secrets: inherit

  deploy-prod:
    needs: deploy-test
    name: audience-prod
    uses: ./.github/workflows/deploy.yaml
    permissions:
      actions: write
    with:
      environment: prod
      service: audience
    secrets: inherit
