on:
  push:
    branches:
      - main
jobs:
  deploy-dev:
    name: campaigns-dev
    uses: ./.github/workflows/deploy.yaml
    permissions:
      actions: write
    with:
      environment: dev
      image_tag: campaigns/0.1.7
    secrets: inherit

  deploy-test:
    needs: deploy-dev
    name: campaigns-test
    uses: ./.github/workflows/deploy.yaml
    permissions:
      actions: write
    with:
      environment: test
      service: campaigns
      image_tag: campaigns/0.1.7
    secrets: inherit

  deploy-prod:
    needs: deploy-test
    name: campaigns-prod
    uses: ./.github/workflows/deploy.yaml
    permissions:
      actions: write
    with:
      environment: prod
      service: campaigns
      image_tag: campaigns/0.1.7
    secrets: inherit
