on:
  push:
    branches:
      - main
jobs:
  bump-version:
    name: Increment version number
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: cfa-docker-customer.jfrog.io
    outputs:
      version: ${{ steps.version_bump.outputs.version }}
    steps:
      - name: Checkout latest
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Version bump
        id: version_bump
        run: |
          if previous_version=$(git describe --tags --abbrev=0 --match="${{ inputs.service }}/*"); then
            version=$(./scripts/version.sh "$previous_version" "${{ github.event.head_commit.message }}")
          else
            version="${{ inputs.service }}/0.0.1"
          fi
          git tag "$version"
          git push origin "$version"
          echo "version=$version" >> "$GITHUB_OUTPUT"

  deploy-dev:
    needs: bump-version
    name: campaigns-dev
    uses: ./.github/workflows/deploy.yaml
    permissions:
      actions: write
      deployments: write
    with:
      environment: dev
      service: campaigns
      image_tag: ${{ needs.bump-version.outputs.version }}
    secrets: inherit

  deploy-test:
    needs: deploy-dev
    name: campaigns-test
    uses: ./.github/workflows/deploy.yaml
    permissions:
      actions: write
      deployments: write
    with:
      environment: test
      service: campaigns
      image_tag: ${{ needs.bump-version.outputs.version }}
    secrets: inherit

  deploy-prod:
    needs: deploy-test
    name: campaigns-prod
    uses: ./.github/workflows/deploy.yaml
    permissions:
      actions: write
      deployments: write
    with:
      environment: prod
      service: campaigns
      image_tag: ${{ needs.bump-version.outputs.version }}
    secrets: inherit
